.popup__content-image {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  width: auto;
  max-width: 75vw;
}

.popup__content-image:before {
  background-color:#000000;
  opacity: 90%;
}