.profile__btn_type_edit {
  background-image: url(../../../../images/editButton.svg);
  background-size: 10px;
  width: 24px;
  height: 24px;
  margin-left: 18px;
}

@media (max-width: 767px) {
  .profile__btn_type_edit {
    position: absolute;
    right: -28px;
    top: 8px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}