.profile__description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFF;
  max-width: 336px;
  margin: 16px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: none;
  }
}