.popup__content {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  max-width: 430px;
  margin: auto;
  padding: 0 36px;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .popup__content {
    max-width: 282px;
    padding: 0 22px;
  }
}